


<web-app>
    <display-name>DietTrackerApp</display-name>

    <servlet>
        <servlet-name>UserTest</servlet-name>
        <servlet-class>/edu/uml/diet/User2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserTest</servlet-name>
        <url-pattern>/User2</url-pattern>
    </servlet-mapping>

    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <scripting-invalid>true</scripting-invalid>
        </jsp-property-group>
    </jsp-config>

</web-app>



